<mat-toolbar
  class="mat-elevation-z2"
  style="color: whitesmoke; background-color: darkslategrey"
>
  <mat-toolbar-row>
    <span class="page-header"
      >Alex Bergvall | Biomedical Engineer | other cool stuff
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="nav-buttons">
      <div class="nav-button">
        <a mat-button routerLink="">home</a>
        <a mat-button routerLink="/projects">projects</a>
        <a mat-button routerLink="/education">education</a>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
