<div class="home-container">
  <h1>Home</h1>
  <p>
    Hi! I'm Alex, a developer thats just starting his journey, feel free to
    contact me on
    <a href="https://www.linkedin.com/in/alex-bergvall-3598a0161/">@linkedIn</a
    >!
  </p>
  <p>
    I started life off in a small town in south-east Texas. I spent my summers
    in Sweden, visiting my fathers family and eating (and loving) weird things
    like pickled herring and Kalles Kaviar.
  </p>
  <p>
    Years later, I began my journey into tech as a Biomedical Engineering major
    at the University of Texas. The Biomedical field had a vast breadth of
    challenging material, that allowed me to learn and explore all kinds of
    fields in my time there.
  </p>
  <p>
    Early on in the curriculum I was doing complex numerical analysis with
    Matlab, which was interesting, but far above my level as someone with no
    coding experience. I thought that I had no chance in the coding world if
    that was where beginners started.
  </p>
  <p>
    Fortunately, I ended up in an embedded systems class that had me design the
    beginning levels of a simple video game. This is where I discovered my love
    for design.
  </p>
  <p>
    
  </p>
  <p>This website doesn't have mobile support yet, I'll work on it soon.</p>
</div>
